<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
    <link rel="stylesheet" href="/static/css/edit.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <title>Edit the dishes from menu here</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-family: 'Amatic SC', sans-serif;">
        <a class="navbar-brand" href="/editing" style="margin-left: 25px;">
            <h1>Admin panel</h1>
        </a>
        <a class="navbar-brand ms-auto" href="/logout" style="margin-right: 25px;">
            <h1>Logout</h1>
        </a>
    </nav>
    <div class="row">
        <div class="colm-form">
            <div class="form-container">
                <form action="/change/{{.Id}}" method="post" id="form-change">
                    <h3><label for="dish">Dish</label></h3>
                    <input type="text" placeholder="DISH" id="dish" value="{{.Dish}}" name="dish" required><br><br>

                    <h3><label for="price">Price</label></h3>
                    <input type="number" placeholder="PRICE" id="price" value="{{.Price}}" name="price" required><br><br>

                    <h3><label for="category">Category</label></h3>
                    <input type="text" placeholder="CATEGORY" id="category" value="{{.Category}}" name="category"
                        required><br><br>

                    <h3><label for="description">Description</label></h3>
                    <textarea rows="5" name="description" required>{{.Description}}</textarea><br><br>
                    <button class="btn-login" form="form-change">Edit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>