<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/home.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body style="margin: 0 0;">  
    <div>
        <div id="menu">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Dish</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Category</th>
                </tr>
                {{range .}}
                <tr>
                    <td>{{.Id}}</td>
                    <td>{{.Dish}}</td>
                    <td>{{.Description}}</td>
                    <td>{{.Price}}</td>
                    <td>{{.Category}}</td>
                    <td><form action="/delete/{{.Id}}" method="post"><button>delete</button></form></td>
                    <td><form action="/edit/{{.Id}}" method="post"><button>edit</button></form></td>
                    </tr>
                {{end}}
                <tr><td><form action="/insertion-page" method="post"><button>insert</button></form></td></tr>
            </table>     
        </div>
    </div>
</body>
</html>
