<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/edit.css" type="text/css">
    </head>

<body>
    <main>
        <div class="row">
            <div class="colm-form">
                <div class="form-container">
                    <form action="/change/{{.Id}}" method="post" id="form-change">
                        <h3><label for="dish">Dish</label></h3>
                        <input type="text" placeholder="DISH" id="dish" value="{{.Dish}}" name="dish" required><br><br>

                        <h3><label for="price">Price</label></h3>
                        <input type="text" placeholder="PRICE" id="price" value="{{.Price}}" name="price" required><br><br>

                        <h3><label for="category">Category</label></h3>
                        <input type="text" placeholder="CATEGORY" id="category" value="{{.Category}}" name="category" required><br><br>

                        <h3><label for="description">Description</label></h3>
                        <input type="text" placeholder="DESCRIPTION" id="description" value="{{.Description}}" name="description" required><br><br>
                        <button class="btn-login" form="form-change">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>