<!DOCTYPE html>
<html>

<head>
    <title>Myata Restaurant</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        text,
        p {
            font-family: cursive;
        }

        text {
            font-size: 18px;
            margin-left: 1px;
        }
    </style>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>

<body>
    <div id="header" class="d-flex to-hide">
        <a href="#menu" class="w3-bar-item w3-button">MENU</a>
        <a href="#contact" class="w3-bar-item w3-button">CONTACT</a>
        <div class="ms-auto" style="display: inline-block;">
            <a id="cart" class="w3-bar-item w3-button" onclick="openCart()"><i
                    class="fa-sharp fa-solid fa-cart-shopping"></i>
                <text id="cart-len">0</text></a>
        </div>
    </div>

    <header style="margin-bottom: 50px;" class="bgimg w3-display-container w3-grayscale-min to-hide">
        <div class="w3-display-middle w3-center">
            <img id="logo-img" src="/static/images/logo.png">
            <h6><span class="w3-xxlarge w3-black">Open from 10am to 12pm</span></h6>
        </div>
    </header>

    <!-- Menu Container -->
    <div class="w3-container w3-white w3-xxlarge to-hide">
        <h1 style="margin-top: 64px;" class="w3-center w3-jumbo">THE MENU</h1>
    </div>
    <div class="scrollmenu to-hide" id="menu">
        {{range .}}
        <a class="tablink" onclick="openMenu(event, '{{.Category}}');">
            {{.Category}}
        </a>
        {{end}}
    </div>
    {{range .}}
    <div class="menu to-hide" id="{{.Category}}" style="margin-left: 1%; margin-bottom: 15px;">
        {{range .Dishes}}
        <div style="margin: 0px 5px;" class="d-flex justify-content-between">
            <h1>{{.Dish}}</h1>
            <h1>{{.Price}}tg</h1>
        </div>
        <div style="margin: 0px 5px;" class="d-flex justify-content-between">
            <p>{{.Description}}</p>
            <i onclick="cartData('{{.Id}}','{{.Dish}}', '{{.Description}}', '{{.Price}}', this)"
                style="margin-left: 30px; margin-right: 10px; color: #61ede0;"
                class="fa-solid fa-square-plus fa-2x {{.Id}}"></i>
        </div>
        {{end}}
    </div>
    {{end}}
    <!-- Footer -->
    <footer id="contact" class="w3-black w3-xlarge to-hide" style="overflow: auto;">
        <div style="margin-left: 1%; float: left;">
            <h1 style="font-size: 56px;">Follow us</h1>
        </div>
        <div class="container" style="padding: 26px 0%; float: right; max-width: fit-content; margin-right: 2%;">
            <i style="margin-left: 25px;" class="fa-brands fa-instagram fa-xl"></i>
            <i style="margin-left: 25px;" class="fa-brands fa-whatsapp fa-xl"></i>
            <i style="margin-left: 25px;" class="fa-sharp fa-solid fa-location-dot fa-xl"></i>
        </div>
    </footer>

    <!-- Cart -->
    <div id="cart-container">
        <div id="cart-h" class="d-flex justify-content-between">
            <i onclick="closeCart()" style="margin-top: 30px; margin-left: 10px; padding-bottom: 15px;"
                class="fa-sharp fa-solid fa-xmark fa-xl"></i>
            <div style="margin-right: 5px;" class="ms-auto">
                <h1 id="cost-total">Total: 0tg</h1>
            </div>
        </div>
        <div id="cart-content" style="display: block; margin-top: 50px;">

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="/static/js/script.js"></script>

</body>

</html>